@import "../../../styles/variables.scss";

.product_detail {
  display: flex;
  flex-direction: column;

  .product_detail_price {
    margin-top: 0.7rem;

    div {
      width: 37%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .price {
      font-size: 1.5rem;
      font-weight: $font-weight_700;
      color: $blue_01;
    }

    .price_center {
      font-size: 1.5rem;
      font-weight: $font-weight_700;
      color: $blue_01;
    }

    .price_discount {
      font-size: 1.1rem;
      font-weight: $font-weight_500;
      color: $gray_500;
      position: relative;

      &::after {
        @include line_text;
      }
    }
  }

  .product_detail_info {
    display: flex;
    flex-direction: column;
    margin-top: 1.75rem;
    background-color: $gray_050;
    width: 32rem;
    padding: 1rem;
    border-radius: 0.8rem;

    div {
      display: flex;
      img {
        margin-left: 10px;
      }
    }

    .product_detail_info_href {
      width: 100px;
      margin-top: 5px;

      a {
        color: $blue_01;
        border-bottom: 1px solid $blue_01;
      }
    }
  }
}
