.progress_container {
  width: 100%;
  height: 10px;
  background-color: lightgray;
  position: relative;
  border-radius: 2rem;

  .gray_line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    border-radius: 2rem;
  }

  .black_line {
    height: 100%;
    background-color: black;
    border-radius: 2rem;
  }
}
