@use "../../styles/variables.scss";

.cart_container {
  border: 1px solid variables.$gray_300;
  border-radius: 0.8rem;
  padding: 1rem;
  position: relative;

  @media screen and (max-width: 1200px) and (min-width: 767px) {
    max-width: 60%;
    margin: 0 auto;
  }

  .cart_info {
    h3 {
      color: variables.$gray_800;
      letter-spacing: 0.7px;
    }
    .custom_dropdown {
      position: relative;

      .selected_option {
        padding: 0.8rem;
        border: 1px solid variables.$gray_300;
        margin-top: 0.8rem;
        border-radius: 0.8rem;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .arrow {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 5px 0;
          border-color: #333 transparent transparent transparent;
        }
      }

      .options {
        // display: ${props => (props.isOpen ? 'block' : 'none')};
        display: none;
        position: absolute;
        top: 95%;
        left: 0;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 0 0 5px 5px;
        background-color: #fff;
        border-radius: 0.5rem;

        .option {
          padding: 10px;
          cursor: pointer;

          &:hover {
            background-color: variables.$blue_01;
            color: variables.$white_01;
            border-radius: 0.8rem;
          }
        }
      }

      .display_options {
        display: block;
        position: absolute;
        top: 95%;
        left: 0;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 0 0 5px 5px;
        background-color: #fff;
        border-radius: 0.8rem;
      }
    }

    .subtotal {
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: variables.$gray_600;
      border-top: 1px solid variables.$gray_300;
      margin-top: 1.4rem;
      padding-top: 1rem;

      span {
        &:nth-child(1) {
          color: variables.$gray_600;
        }

        &:nth-child(2) {
          color: variables.$gray_900;
          font-weight: variables.$font-weight_600;
        }
      }
    }

    .shipping {
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: variables.$gray_600;
      border-top: 1px solid variables.$gray_300;
      margin-top: 1.4rem;
      padding-top: 1rem;

      span {
        &:nth-child(1) {
          color: variables.$gray_600;
        }

        &:nth-child(2) {
          color: variables.$gray_900;
          font-weight: variables.$font-weight_600;
        }
      }
    }

    .total {
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: variables.$gray_600;
      border-top: 1px solid variables.$gray_300;
      margin-top: 1.4rem;
      padding-top: 1rem;

      span {
        &:nth-child(1) {
          color: variables.$gray_600;
        }

        &:nth-child(2) {
          color: variables.$gray_900;
          font-weight: variables.$font-weight_600;
        }
      }
    }

    .saved {
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: variables.$gray_600;
      border-top: 1px solid variables.$gray_300;
      margin-top: 1.4rem;
      padding-top: 1rem;

      span {
        &:nth-child(1) {
          color: green;
        }

        &:nth-child(2) {
          color: green;
          font-weight: variables.$font-weight_600;
        }
      }
    }

    .button {
      width: 100%;
      margin-top: 1.8rem;
    }
  }
}
