@use "../../styles/variables.scss";

.icon {
  margin-right: 2rem;
  padding-top: 0.5rem;

  @media screen and (max-width: 767px) and (min-width: 320px) {
    margin-right: 1rem;
  }

  @media screen and (max-width: 767px) and (min-width: 320px) {
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;
  }

  &:nth-child(1) {
    position: relative;
    .quantity {
      position: absolute;
      top: 1px;
      right: -14px;
      width: 15px;
      height: 15px;
      text-align: center;
      background-color: variables.$blue_01;
      border-radius: 1rem;
      color: antiquewhite;
      font-size: 12px;
    }
  }

  &:nth-child(3) {
    display: none;
  }

  &:nth-child(4) {
    position: relative;
    .quantity {
      position: absolute;
      top: 1px;
      right: -14px;
      width: 15px;
      height: 15px;
      text-align: center;
      background-color: variables.$blue_01;
      border-radius: 1rem;
      color: antiquewhite;
      font-size: 12px;
    }
  }

  @media screen and (max-width: 767px) and (min-width: 320px) {
    &:nth-child(1) {
      display: none;
    }
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      margin-top: -0.1rem;
      display: block;
      cursor: pointer;
    }
  }
}
