@use "../../styles/variables.scss";

.input {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid variables.$gray_200;
  background-color: variables.$gray_050;
  transition: 0.2s ease-in;

  &:hover,
  &:focus {
    border: 1px solid variables.$blue_01;
  }
}
