@import "../../styles/variables.scss";

// watchGood

.watch {
  background-color: $white_01;
  padding: 0.48rem 0.7rem;
  display: flex;
  align-items: center;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  transition: 0.2s;

  svg {
    fill: $gray_900;
  }

  &:hover {
    background-color: $blue_01;

    svg {
      fill: $white_01;
    }
  }
}

.wish {
  background-color: $white_01;
  padding: 0.7rem 0.9rem;
  display: flex;
  align-items: center;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  transition: 0.2s;

  svg {
    stroke: $gray_900;
  }

  &:hover {
    background-color: $blue_01;

    svg {
      stroke: $white_01;
    }
  }
}
