@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
.product_info {
  margin-top: 3.5rem;
}
.product_info .container {
  max-width: 71.25rem;
  margin: 0 auto;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .product_info .container {
    padding: 1rem;
  }
}
.product_info .container .product_info_name {
  font-weight: 400;
  font-size: 1.6rem;
}
@media screen and (max-width: 1200px) and (min-width: 767px) {
  .product_info .container .product_info_name {
    text-align: center;
  }
}
.product_info .container .product_info_title {
  margin-top: 1rem;
}
@media screen and (max-width: 1200px) and (min-width: 767px) {
  .product_info .container .product_info_title {
    text-align: center;
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .product_info .container .product_info_title {
    text-align: start;
  }
}
.product_info .container .product_info_top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1.5rem;
}
@media screen and (max-width: 1200px) and (min-width: 767px) {
  .product_info .container .product_info_top {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .product_info .container .product_info_top {
    flex-wrap: wrap;
  }
  .product_info .container .product_info_top .sku_info {
    margin-top: 0.3rem;
  }
  .product_info .container .product_info_top .vertical_line {
    display: block;
    width: 100%;
    border-left: 1px solid #d1d5db;
    margin: 10px 0;
  }
}
.product_info .container .product_info_top div {
  padding-right: 1rem;
}
.product_info .container .product_info_top .vertical_line {
  border-left: 1px solid #d1d5db;
  width: 15px;
  height: 18px;
  margin: 0 1px;
}
.product_info .container .product_info_top .info {
  display: flex;
  align-items: center;
}
.product_info .container .product_info_top .info .review {
  color: #4b5563;
  font-size: 0.8rem;
  margin-left: -0.5rem;
}
.product_info .container .product_info_bottom {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 50fr) repeat(1, 40fr);
  gap: 40px;
  margin-top: 2rem;
  overflow: hidden;
}
@media screen and (max-width: 1200px) and (min-width: 767px) {
  .product_info .container .product_info_bottom {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .product_info .container .product_info_bottom {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }
}
.product_info .container .product_info_bottom .info_picture {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
}
.product_info .container .product_info_bottom .info_picture .picture img {
  width: 60%;
}
@media screen and (max-width: 1200px) and (min-width: 767px) {
  .product_info .container .product_info_bottom .info_picture .picture img {
    width: 45%;
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .product_info .container .product_info_bottom .info_picture .picture img {
    width: 80%;
  }
}
.product_info .container .product_info_bottom .info_picture .slider_color {
  margin-top: 0.5rem;
}
.product_info .container .product_info_bottom .info_picture .icon_information {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 2.5rem;
}
@media screen and (max-width: 1200px) and (min-width: 767px) {
  .product_info .container .product_info_bottom .info_picture .icon_information {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .product_info .container .product_info_bottom .info_picture .icon_information {
    display: flex;
    flex-flow: wrap;
    margin-top: 1.2rem;
    text-align: center;
  }
}
.product_info .container .product_info_bottom .info_picture .icon_information div {
  text-align: center;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .product_info .container .product_info_bottom .info_picture .icon_information div:nth-child(4), .product_info .container .product_info_bottom .info_picture .icon_information div:nth-child(5) {
    margin-top: 1rem;
  }
}
.product_info .container .product_info_bottom .info_picture .icon_information_start {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  margin-top: 2.5rem;
}
.product_info .container .product_info_bottom .info_picture .icon_information_start div {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}
.product_info .container .accordeon_container {
  border-top: 1px solid #d1d5db;
  margin-top: 2.5rem;
  display: flex;
  padding-top: 3.2rem;
}
@media screen and (max-width: 1200px) and (min-width: 767px) {
  .product_info .container .accordeon_container {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .product_info .container .accordeon_container {
    display: flex;
    flex-wrap: wrap;
  }
}
.product_info .container .accordeon_container .accordion_item {
  margin-right: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #6b7280;
  cursor: pointer;
  position: relative;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .product_info .container .accordeon_container .accordion_item {
    margin-right: 1rem;
  }
  .product_info .container .accordeon_container .accordion_item:nth-child(4) {
    order: 2;
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 1rem;
  }
}
.product_info .container .accordeon_container .accordion_item:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -9px;
  width: 0%;
  height: 3px;
  background-color: #3598cc;
  transition: width 0.3s ease;
}
.product_info .container .accordeon_container .accordion_item:hover::after {
  width: 100%;
  transition: width 0.3s ease;
}
.product_info .container .accordeon_container .active {
  margin-right: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #3598cc;
  cursor: pointer;
  position: relative;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .product_info .container .accordeon_container .active {
    margin-right: 1rem;
  }
  .product_info .container .accordeon_container .active:nth-child(4) {
    margin-top: 0.5rem;
  }
}
.product_info .container .accordeon_container .active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -9px;
  width: 100%;
  height: 3px;
  background-color: #3598cc;
  transition: width 0.3s ease;
}
.product_info .container .accordion_content {
  margin-top: 3rem;
  margin-bottom: 1px solid;
}
@media screen and (max-width: 1200px) and (min-width: 767px) {
  .product_info .container .accordion_content {
    max-width: 40rem;
    padding: 0 1rem;
    height: auto;
    margin: 0 auto;
    overflow: auto;
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .product_info .container .accordion_content {
    max-width: 40rem;
    padding: 0 1rem;
    height: auto;
    margin: 0 auto;
    overflow: auto;
  }
}
.product_info .container .accordion_content .contentItem {
  width: 80%;
  line-height: 1.5;
}
@media screen and (max-width: 1200px) and (min-width: 767px) {
  .product_info .container .accordion_content .contentItem {
    margin-top: 1.5rem;
  }
}
.product_info .container .accordion_content .contentItem h3 {
  margin-top: 1rem;
}
.product_info .container .accordion_content .contentItem p {
  margin-top: 1rem;
}
.product_info .container .accordion_content .contentItem pre {
  margin-top: 1rem;
  line-height: 2;
}
.product_info .container .accordion_content .contentItem .shipping {
  position: relative;
}
.product_info .container .slider_recommended {
  margin-top: 5rem;
  margin-bottom: 2rem;
}/*# sourceMappingURL=product.module.css.map */