@import "../../../styles/variables.scss";

.slider {
  margin-top: 4.7rem;
  position: relative;

  @media screen and (max-width: 767px) and (min-width: 320px) {
    margin-top: 2.3rem;
  }

  .wrapper {
    max-width: $container_width;
    margin: 0 auto;
    padding: 0 2rem;

    .slider_navigate {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
      column-gap: 20px;

      .slider_navigate_info {
        display: flex;
        align-items: center;

        h2 {
          @media screen and (max-width: 767px) and (min-width: 320px) {
            font-size: 1.5rem;
          }
        }

        span {
          margin-left: 1rem;
          color: $blue_01;
          font-weight: $font-weight_600;
          border-bottom: 1px solid $blue_01;
        }
      }

      .slider_navigate_arrow {
        display: flex;
        position: none;
        @media screen and (max-width: 767px) and (min-width: 320px) {
          display: none;
        }

        .arrow_left {
          @include arrow;
          transition: 0.2s ease-in-out;

          svg {
            stroke: $gray_900;
          }

          &:hover {
            background-color: $blue_01;
          }

          &:hover > svg {
            stroke: $white_01;
          }
        }

        .arrow_right {
          @include arrow;
          transition: 0.2s ease-in-out;

          svg {
            stroke: $gray_900;
          }

          &:hover {
            background-color: $blue_01;
          }

          &:hover > svg {
            stroke: $white_01;
          }
        }
      }
    }

    .slider_carousel {
      overflow: hidden;
      margin-top: 2.9rem;

      @media screen and (max-width: 767px) and (min-width: 320px) {
        margin-top: 2rem;
      }

      .carousel {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 15px;
        transition: transform 0.3s ease-in-out;

        @media screen and (max-width: 1200px) and (min-width: 767px) {
          display: flex;
        }
      }
    }
  }
}

.sliderColor {
  position: relative;

  .wrapper {
    max-width: $container_width;
    margin: 0 auto;

    .slider_navigate {
      position: absolute;
      width: 100%;
      top: 10rem;
      column-gap: 20px;
      z-index: 1;

      .slider_navigate_arrow {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .arrow_left {
          @include arrow;
          transition: 0.2s ease-in-out;
          left: 0;

          svg {
            stroke: $gray_900;
          }

          &:hover {
            background-color: $blue_01;
          }

          &:hover > svg {
            stroke: $white_01;
          }
        }

        .arrow_right {
          @include arrow;
          transition: 0.2s ease-in-out;

          svg {
            stroke: $gray_900;
          }

          &:hover {
            background-color: $blue_01;
          }

          &:hover > svg {
            stroke: $white_01;
          }
        }
      }
    }
    .slider_carousel {
      overflow: hidden;

      .carousel {
        display: grid;
        grid-template-columns: repeat(3, 18rem);
        gap: 20px;
        transition: transform 0.3s ease-in-out;
      }
    }
  }
}
