@import "../../styles/variables.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray_050;
  height: 100vh;

  @media screen and (max-width: 767px) and (min-width: 320px) {
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .forgot {
    margin-top: 2rem;
    height: 26rem;
    width: 33rem;
    border: 1px solid $gray_200;
    background-color: $white_01;
    border-radius: 0.8rem;

    @media screen and (max-width: 767px) and (min-width: 320px) {
      height: 90vh;
    }

    .forgot_icon {
      text-align: center;
      margin-top: 1.5rem;
    }

    .forgot_info {
      margin-top: 1.5rem;
      padding: 0 2rem;

      h2 {
        @media screen and (max-width: 767px) and (min-width: 320px) {
          font-size: 1.5rem;
        }
      }

      p {
        margin-top: 1rem;
        color: $gray_500;
      }
    }

    .forgot_info_email {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;

      span {
        font-weight: $font-weight_600;
      }

      input {
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid $gray_200;
        background-color: $gray_050;
        transition: 0.2s ease-in;

        &:hover,
        &:focus {
          border: 1px solid $blue_01;
        }
      }
    }

    .login_info_button {
      margin-top: 1.7rem;

      input {
        width: 100%;
        padding: 0.8rem 0;
        border-radius: 0.5rem;
        border: none;
        background-color: $blue_01;
        cursor: pointer;
        color: $white_01;
        font-weight: $font-weight_600;
      }
    }

    .back_login {
      display: flex;
      justify-content: center;
      margin-top: 1.5rem;

      span {
        color: $blue_01;
      }
    }
  }
}

.succesfully {
}
