@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

// color
$white_01: rgb(255, 255, 255);

$blue_01: #3598cc;
$blue_02: #1e75a3;

$gray_900: #111827;
$gray_800: #1f2937;
$gray_700: #374151;
$gray_600: #4b5563;
$gray_500: #6b7280;
$gray_400: #9ca3af;
$gray_300: #d1d5db;
$gray_200: #e5e7eb;
$gray_100: #f3f4f6;
$gray_050: #f9fafb;

// rgba
$rgba_white: rgba(255, 255, 255, 0.7);

// colors filter
$colors: #ebeae7, #f70000, #4f99cb, #202020, #e7bab5;

// shadow
$shadow_1: 0 0px 5px;

// width
$container_width: 71.25rem;
$container_footer: 67rem;
$container_pagination: 50rem;
$container_width_product: 16rem;
$container_width_media: 100%;

// border-raduis
$border-radius: 0.6rem;

// transitions
$transition: 0.2s;

// fonts
$font-family: "Inter", sans-serif;

// fonts_weight
$font-weight_400: 400;
$font-weight_500: 600;
$font-weight_600: 600;
$font-weight_700: 700;

// position AddTo
$top_1: 41%;
$top_2: 30;

// menu_mobile

@mixin menu_mobile_filteredActive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100vw;
  height: auto;
  border: 1px solid $gray_200;
  border-radius: $border-radius;
  background-color: $white_01;
  overflow: hidden;
  position: absolute;
  top: 3.5rem;
  left: 0;
  z-index: 1;
  transition: all 0.25s;
}

@mixin menu_mobile_filteredOff {
  display: none;
}

// line
@mixin horizonal_line {
  border: none;
  height: 0.5px;
  background-color: $gray_200;
}

@mixin line_text {
  content: "";
  background: #333333;
  width: 100%;
  height: 1px;
  bottom: 9px;
  right: 0;
  position: absolute;
}

// arrow
@mixin arrow {
  width: 2.5rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  background-color: $gray_100;
  border-radius: 10rem;
  cursor: pointer;
}

// colors filter
@mixin colors_filter {
  content: "";
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: 50%;
  transition: box-shadow 0.5s ease;
}
