@import "../../../styles/variables.scss";

.button {
  border: none;
  width: 100%;
  border-radius: 0.4rem;

  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

.buttonSmall {
  padding: 0.5rem 0.9rem;
}

.buttonLong {
  padding: 0.7rem 3.4rem;
}

.hoverWhite {
  &:hover {
    background-color: $blue_02 !important;
  }

  &:focus {
    background-color: $blue_02 !important;
  }
}

.colorGray {
  background-color: $gray_300;
  color: $gray_900;

  &:focus {
    background-color: $blue_01;
    color: $white_01;
  }
}
