@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
.filter {
  position: relative;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .filter .filter_title {
    display: none;
  }
}
.filter .filter_button {
  left: 0;
  position: absolute;
  cursor: pointer;
  width: 5.8rem;
  padding: 11px 0.9rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  display: none;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .filter .filter_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.filter .filter_product {
  margin-top: 2.7rem;
  width: 100%;
  height: auto;
  border: 1px solid #e5e7eb;
  border-radius: 0.6rem;
  padding: 1.8rem 1.4rem;
}
@media screen and (max-width: 1200px) and (min-width: 767px) {
  .filter .filter_product {
    max-width: 14rem;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .filter .filter_product {
    display: none;
  }
}
.filter .filter_product .brandsFilter {
  margin-top: 2.5rem;
}
.filter .filter_product .ratingFilter {
  margin-top: 2.5rem;
}
.filter .filter_product .ratingFilter li {
  margin-bottom: 0.3rem;
}
.filter .filter_product .range {
  margin-top: 2rem;
}
.filter .filter_product .colorsFilter {
  margin-top: 3.2rem;
}
.filter .filter_product .colorsFilter .colors {
  display: flex;
  margin-top: 1rem;
}
.filter .filter_product .colorsFilter .colors span {
  width: 1.65rem;
  height: 1.6rem;
  border-radius: 50%;
  margin-right: 1rem;
  cursor: pointer;
  position: relative;
}
@media screen and (max-width: 1200px) and (min-width: 767px) {
  .filter .filter_product .colorsFilter .colors span {
    height: 1.2rem;
  }
}
.filter .filter_product .colorsFilter .colors span:nth-child(1).selected::after {
  content: "";
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: 50%;
  transition: box-shadow 0.5s ease;
  opacity: 1;
  box-shadow: 0 0 0 4px #e7bab5;
}
@media screen and (max-width: 1200px) and (min-width: 767px) {
  .filter .filter_product .colorsFilter .colors span:nth-child(1).selected::after {
    width: 1.5rem;
    height: 1.5rem;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: box-shadow 0.5s ease;
    opacity: 1;
    box-shadow: 0 0 0 4px #e7bab5;
  }
}
.filter .filter_product .colorsFilter .colors span:nth-child(1)::after {
  content: "";
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: 50%;
  transition: box-shadow 0.5s ease;
  opacity: 0;
}
@media screen and (max-width: 1200px) and (min-width: 767px) {
  .filter .filter_product .colorsFilter .colors span:nth-child(1)::after {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: box-shadow 0.5s ease;
    opacity: 0;
  }
}
.filter .filter_product .colorsFilter .colors span:nth-child(1):hover::after {
  opacity: 1;
  box-shadow: 0 0 0 4px #e7bab5;
}
.filter .filter_product .colorsFilter .colors span:nth-child(2).selected::after {
  content: "";
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: 50%;
  transition: box-shadow 0.5s ease;
  opacity: 1;
  box-shadow: 0 0 0 4px #f70000;
}
@media screen and (max-width: 1200px) and (min-width: 767px) {
  .filter .filter_product .colorsFilter .colors span:nth-child(2).selected::after {
    width: 1.5rem;
    height: 1.5rem;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: box-shadow 0.5s ease;
    opacity: 1;
    box-shadow: 0 0 0 4px #f70000;
  }
}
.filter .filter_product .colorsFilter .colors span:nth-child(2)::after {
  content: "";
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: 50%;
  transition: box-shadow 0.5s ease;
  opacity: 0;
}
@media screen and (max-width: 1200px) and (min-width: 767px) {
  .filter .filter_product .colorsFilter .colors span:nth-child(2)::after {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: box-shadow 0.5s ease;
    opacity: 0;
  }
}
.filter .filter_product .colorsFilter .colors span:nth-child(2):hover::after {
  opacity: 1;
  box-shadow: 0 0 0 4px #f70000;
}
.filter .filter_product .colorsFilter .colors span:nth-child(3).selected::after {
  content: "";
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: 50%;
  transition: box-shadow 0.5s ease;
  opacity: 1;
  box-shadow: 0 0 0 4px #ebeae7;
}
@media screen and (max-width: 1200px) and (min-width: 767px) {
  .filter .filter_product .colorsFilter .colors span:nth-child(3).selected::after {
    width: 1.5rem;
    height: 1.5rem;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: box-shadow 0.5s ease;
    opacity: 1;
    box-shadow: 0 0 0 4px #ebeae7;
  }
}
.filter .filter_product .colorsFilter .colors span:nth-child(3)::after {
  content: "";
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: 50%;
  transition: box-shadow 0.5s ease;
  opacity: 0;
}
@media screen and (max-width: 1200px) and (min-width: 767px) {
  .filter .filter_product .colorsFilter .colors span:nth-child(3)::after {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: box-shadow 0.5s ease;
    opacity: 0;
  }
}
.filter .filter_product .colorsFilter .colors span:nth-child(3):hover::after {
  opacity: 1;
  box-shadow: 0 0 0 4px #ebeae7;
}
.filter .filter_product .colorsFilter .colors span:nth-child(4).selected::after {
  content: "";
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: 50%;
  transition: box-shadow 0.5s ease;
  opacity: 1;
  box-shadow: 0 0 0 4px #4f99cb;
}
@media screen and (max-width: 1200px) and (min-width: 767px) {
  .filter .filter_product .colorsFilter .colors span:nth-child(4).selected::after {
    width: 1.5rem;
    height: 1.5rem;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: box-shadow 0.5s ease;
    opacity: 1;
    box-shadow: 0 0 0 4px #4f99cb;
  }
}
.filter .filter_product .colorsFilter .colors span:nth-child(4)::after {
  content: "";
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: 50%;
  transition: box-shadow 0.5s ease;
  opacity: 0;
}
@media screen and (max-width: 1200px) and (min-width: 767px) {
  .filter .filter_product .colorsFilter .colors span:nth-child(4)::after {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: box-shadow 0.5s ease;
    opacity: 0;
  }
}
.filter .filter_product .colorsFilter .colors span:nth-child(4):hover::after {
  opacity: 1;
  box-shadow: 0 0 0 4px #4f99cb;
}
.filter .filter_product .colorsFilter .colors span:nth-child(5).selected::after {
  content: "";
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: 50%;
  transition: box-shadow 0.5s ease;
  opacity: 1;
  box-shadow: 0 0 0 4px #202020;
}
@media screen and (max-width: 1200px) and (min-width: 767px) {
  .filter .filter_product .colorsFilter .colors span:nth-child(5).selected::after {
    width: 1.5rem;
    height: 1.5rem;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: box-shadow 0.5s ease;
    opacity: 1;
    box-shadow: 0 0 0 4px #202020;
  }
}
.filter .filter_product .colorsFilter .colors span:nth-child(5)::after {
  content: "";
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: 50%;
  transition: box-shadow 0.5s ease;
  opacity: 0;
}
@media screen and (max-width: 1200px) and (min-width: 767px) {
  .filter .filter_product .colorsFilter .colors span:nth-child(5)::after {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: box-shadow 0.5s ease;
    opacity: 0;
  }
}
.filter .filter_product .colorsFilter .colors span:nth-child(5):hover::after {
  opacity: 1;
  box-shadow: 0 0 0 4px #202020;
}
.filter .filter_product ul {
  margin-top: 1.6rem;
}
.filter .filter_product ul li {
  margin-bottom: 0.7rem;
}
.filter .filter_product ul li span {
  margin-right: 0.7rem;
  cursor: pointer;
  color: #4b5563;
}

.filter_product_mobile {
  display: none;
}
.filter_product_mobile ul {
  list-style-type: none;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .filter_product_mobile .mobile {
    padding: 1rem 1.4rem;
  }
  .filter_product_mobile .mobile .back_menu {
    display: flex;
    align-items: center;
    stroke: #6b7280;
    cursor: pointer;
  }
  .filter_product_mobile .mobile .back_menu .back_menu_title {
    font-size: 0.7rem;
    margin-left: 6px;
    font-weight: 500;
    color: #6b7280;
  }
  .filter_product_mobile .mobile .categoriesFilter {
    margin-top: 1rem;
  }
  .filter_product_mobile .mobile .brandsFilter {
    margin-top: 2.5rem;
  }
  .filter_product_mobile .mobile .ratingFilter {
    margin-top: 2.5rem;
  }
  .filter_product_mobile .mobile .ratingFilter li {
    margin-bottom: 0.3rem;
  }
  .filter_product_mobile .mobile .range {
    margin-top: 2rem;
  }
  .filter_product_mobile .mobile .colorsFilter {
    margin-top: 3.2rem;
  }
  .filter_product_mobile .mobile .colorsFilter .colors {
    display: flex;
    margin-top: 1rem;
  }
  .filter_product_mobile .mobile .colorsFilter .colors span {
    width: 1.65rem;
    height: 1.6rem;
    border-radius: 50%;
    margin-right: 1rem;
    cursor: pointer;
    position: relative;
  }
  .filter_product_mobile .mobile .colorsFilter .colors span:nth-child(1).selected::after {
    content: "";
    width: 1.9rem;
    height: 1.9rem;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: box-shadow 0.5s ease;
    opacity: 1;
    box-shadow: 0 0 0 4px #e7bab5;
  }
  .filter_product_mobile .mobile .colorsFilter .colors span:nth-child(1)::after {
    content: "";
    width: 1.9rem;
    height: 1.9rem;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: box-shadow 0.5s ease;
    opacity: 0;
  }
  .filter_product_mobile .mobile .colorsFilter .colors span:nth-child(1):hover::after {
    opacity: 1;
    box-shadow: 0 0 0 4px #e7bab5;
  }
  .filter_product_mobile .mobile .colorsFilter .colors span:nth-child(2).selected::after {
    content: "";
    width: 1.9rem;
    height: 1.9rem;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: box-shadow 0.5s ease;
    opacity: 1;
    box-shadow: 0 0 0 4px #f70000;
  }
  .filter_product_mobile .mobile .colorsFilter .colors span:nth-child(2)::after {
    content: "";
    width: 1.9rem;
    height: 1.9rem;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: box-shadow 0.5s ease;
    opacity: 0;
  }
  .filter_product_mobile .mobile .colorsFilter .colors span:nth-child(2):hover::after {
    opacity: 1;
    box-shadow: 0 0 0 4px #f70000;
  }
  .filter_product_mobile .mobile .colorsFilter .colors span:nth-child(3).selected::after {
    content: "";
    width: 1.9rem;
    height: 1.9rem;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: box-shadow 0.5s ease;
    opacity: 1;
    box-shadow: 0 0 0 4px #ebeae7;
  }
  .filter_product_mobile .mobile .colorsFilter .colors span:nth-child(3)::after {
    content: "";
    width: 1.9rem;
    height: 1.9rem;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: box-shadow 0.5s ease;
    opacity: 0;
  }
  .filter_product_mobile .mobile .colorsFilter .colors span:nth-child(3):hover::after {
    opacity: 1;
    box-shadow: 0 0 0 4px #ebeae7;
  }
  .filter_product_mobile .mobile .colorsFilter .colors span:nth-child(4).selected::after {
    content: "";
    width: 1.9rem;
    height: 1.9rem;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: box-shadow 0.5s ease;
    opacity: 1;
    box-shadow: 0 0 0 4px #4f99cb;
  }
  .filter_product_mobile .mobile .colorsFilter .colors span:nth-child(4)::after {
    content: "";
    width: 1.9rem;
    height: 1.9rem;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: box-shadow 0.5s ease;
    opacity: 0;
  }
  .filter_product_mobile .mobile .colorsFilter .colors span:nth-child(4):hover::after {
    opacity: 1;
    box-shadow: 0 0 0 4px #4f99cb;
  }
  .filter_product_mobile .mobile .colorsFilter .colors span:nth-child(5).selected::after {
    content: "";
    width: 1.9rem;
    height: 1.9rem;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: box-shadow 0.5s ease;
    opacity: 1;
    box-shadow: 0 0 0 4px #202020;
  }
  .filter_product_mobile .mobile .colorsFilter .colors span:nth-child(5)::after {
    content: "";
    width: 1.9rem;
    height: 1.9rem;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: box-shadow 0.5s ease;
    opacity: 0;
  }
  .filter_product_mobile .mobile .colorsFilter .colors span:nth-child(5):hover::after {
    opacity: 1;
    box-shadow: 0 0 0 4px #202020;
  }
  .filter_product_mobile .mobile ul {
    margin-top: 1.6rem;
  }
  .filter_product_mobile .mobile ul li {
    margin-bottom: 0.7rem;
  }
  .filter_product_mobile .mobile ul li span {
    margin-right: 0.7rem;
    cursor: pointer;
    color: #4b5563;
  }
  .filter_product_mobile .gray_bar {
    display: block;
    height: 2px;
    background-color: #e5e7eb;
    margin: 0;
    padding: 0;
  }
  .filter_product_mobile .button_filter {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
  }
}

.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100vw;
  height: auto;
  border: 1px solid #e5e7eb;
  border-radius: 0.6rem;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  position: absolute;
  top: 3.5rem;
  left: 0;
  z-index: 1;
  transition: all 0.25s;
}

.activeOf {
  display: none;
}

body.no-scroll {
  overflow: hidden;
}

label {
  position: relative;
  display: flex;
  align-items: center;
}
label input[type=checkbox] {
  display: none;
}
label .check_box {
  content: "";
  width: 16px;
  min-width: 16px;
  height: 16px;
  position: relative;
  background: #f9fafb;
  border: 1px solid #d1d5db;
  transition: 250ms cubic-bezier(0.4, 0, 0.23, 1);
  display: inline-block;
  margin-right: 0.5em;
  border-radius: 3px;
}
label .check_box::after {
  left: 34%;
  top: 10%;
  width: 26%;
  height: 50%;
  border: solid rgba(138, 120, 120, 0.2);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) scale(0);
  display: block;
  position: absolute;
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.23, 1);
  content: "";
  cursor: pointer;
}
label .check_box:hover {
  border: 1px solid #3598cc;
  transition: 0.2s ease-in;
}
label input[type=checkbox]:checked + span {
  background: #3598cc;
  border: 1px solid #3598cc;
}
label input[type=checkbox]:checked ~ span:after {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  margin-left: -1px;
  transform: rotate(45deg) scale(1);
  opacity: 1;
}/*# sourceMappingURL=filter.module.css.map */