@use "../../styles/variables.scss";

.info_user {
  .content_item {
    @media screen and (max-width: 767px) and (min-width: 320px) {
      width: 90%;
      margin: 0 auto;
    }

    .wishlist_empty {
      width: 80%;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }

    .profile {
      width: 100%;
      margin-top: 2rem;

      form {
        div {
          display: flex;
          flex-wrap: wrap;

          @media screen and (max-width: 767px) and (min-width: 320px) {
            width: 100%;
            max-width: 30rem;
          }

          div {
            display: flex;
            flex-direction: column;

            &:nth-child(2),
            &:nth-child(4) {
              margin-left: 1.2rem;

              @media screen and (max-width: 1200px) and (min-width: 320px) {
                margin-left: 0;
              }
            }

            &:nth-child(3),
            &:nth-child(4) {
              margin-top: 2rem;
              @media screen and (max-width: 1200px) and (min-width: 767px) {
                margin-top: 0;
              }
            }

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
              @media screen and (max-width: 1200px) and (min-width: 767px) {
                margin-top: 1rem;
              }

              @media screen and (max-width: 767px) and (min-width: 320px) {
                margin-top: 1.5rem;
              }
            }

            span {
              font-weight: variables.$font-weight_500;
              color: variables.$gray_900;

              @media screen and (max-width: 767px) and (min-width: 320px) {
                font-weight: variables.$font-weight_600;
              }
            }

            input {
              margin-top: 0.5rem;
              padding: 1rem 0.7rem;
              border-radius: 0.5rem;
              width: 24rem;
              border: 1px solid variables.$gray_200;
              background-color: variables.$gray_100;
              font-size: 1rem;

              @media screen and (max-width: 767px) and (min-width: 320px) {
                width: 100%;
              }
            }
          }
        }

        button {
          width: 8.6rem;
          margin-top: 1.5rem;
        }
      }
    }

    .delivery {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 767px) and (min-width: 320px) {
        flex-direction: column;
        align-items: flex-start;

        span {
          margin-top: 1rem;
        }
      }

      span {
        color: variables.$blue_01;
        font-weight: variables.$font-weight_600;
        font-size: 1rem;
        cursor: pointer;
        display: flex;
        align-items: center;

        p {
          display: inline-block;
          color: variables.$blue_01;
          margin-top: -5px;
          margin-right: 10px;
          cursor: default;
        }
      }
    }

    .delivery_address {
      width: 100%;
      margin-top: 2.5rem;
    }

    // .delivery_container {
    //   .delivery_content {
    //     width: 100%;
    //     margin-top: 2.5rem;
    //     display: flex;
    //     flex-direction: column;
    //     gap: 1rem;

    //     .item {
    //       width: 100%;
    //       height: 5rem;
    //       border: 1px solid $gray_200;
    //       border-radius: 0.5rem;
    //       padding: 1rem;
    //       display: flex;
    //       justify-content: space-between;

    //       .item_left {
    //         display: flex;

    //         .item_index {
    //           display: inline-block;
    //           width: 30px;
    //           height: 30px;
    //           display: flex;
    //           align-items: center;
    //           justify-content: center;
    //           border-radius: 2.5rem;
    //           border: 1px solid $gray_200;
    //           margin-right: 2rem;
    //           font-weight: $font-weight_500;
    //         }

    //         .item_text {
    //           font-weight: $font-weight_500;
    //           font-size: 1.5rem;
    //         }
    //       }

    //       .item_right {
    //       }
    //     }
    //   }
    // }
  }
}

.wishlist {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 3.1rem;

  .product_cart {
    width: calc(33.333% - 10px);
    margin-bottom: 20px;
    margin-right: 12px;
    box-sizing: border-box;
    width: 17rem;
    background-color: white;
    border: 1px solid variables.$gray_300;
    border-radius: 1rem;
    position: relative;

    @media screen and (max-width: 1200px) and (min-width: 767px) {
      min-width: 10rem;
      margin: 0.5rem;
    }

    @media screen and (max-width: 767px) and (min-width: 320px) {
      width: 100%;
      min-width: 82.5vw;
    }

    .addTo {
      display: grid;
      grid-template-rows: 42px 42px;
      row-gap: 1rem;
      padding-top: 2rem;
      position: absolute;
      background-color: variables.$rgba_white;
      width: 100%;
      height: 9.5rem;

      @media screen and (max-width: 1200px) and (min-width: 767px) {
        top: 7rem !important;
      }

      @media screen and (max-width: 767px) and (min-width: 320px) {
        top: 7rem !important;
      }

      .addTo_top {
        display: flex;
        justify-content: center;

        .watch {
          background-color: $white_01;
          padding: 0.48rem 0.7rem;
          display: flex;
          align-items: center;
          border-radius: 0.5rem;
          transition: 0.2s;

          svg {
            fill: $gray_900;
          }

          &:hover {
            background-color: $blue_01;

            svg {
              fill: $white_01;
            }
          }
        }

        .wish {
          background-color: variables.$white_01;
          padding: 0.7rem 0.9rem;
          display: flex;
          align-items: center;
          border-top-right-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;
          transition: 0.2s;
          cursor: pointer;

          svg {
            stroke: variables.$gray_900;
          }

          &:hover {
            background-color: variables.$blue_01;

            svg {
              stroke: variables.$white_01;
            }
          }
        }
      }

      .addTo_bottom {
        margin: 0 auto;
      }
    }

    .product_cart_picture {
      width: 100%;
      height: 20rem;
      transition: 0.2s;
      display: flex;
      justify-content: center;

      @media screen and (max-width: 1200px) and (min-width: 768px) {
        height: 15rem;
      }

      img {
        width: 80%;
        height: 100%;
        object-fit: contain;

        @media screen and (max-width: 1200px) and (min-width: 767px) {
          width: 80%;
        }
      }
    }

    .product_cart_info {
      display: flex;
      flex-direction: column;
      margin: 2rem 1rem;
      width: 12.7;

      .product_cart_info_text {
        font-size: 0.9rem;
        font-weight: variables.$font-weight_400;
        line-height: 1.5;
      }

      .oneCart_info_raiting {
        display: flex;
        align-items: center;
        margin-top: 0.8rem;

        .review {
          color: variables.$gray_600;
          font-size: 0.8rem;
          margin-left: 0.5rem;
        }
      }

      .oneCart_info_delivery {
        display: flex;
        margin-top: 0.6rem;

        .delivery_info {
          color: $gray_600;
          margin-left: 0.5rem;
          margin-top: 0.1rem;
          font-size: 0.8rem;
        }
      }
    }
  }

  .wishlist_button {
    border: none;
    font-weight: variables.$font-weight_500;
    color: variables.$blue_01;
    font-size: 1rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
    background-color: #fff;
  }
}
