@import "../../styles/variables.scss";

.addTo {
  display: grid;
  grid-template-rows: 42px 42px;
  row-gap: 1rem;
  top: 15rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: absolute;
  background-color: $rgba_white;
  width: 100%;

  @media screen and (max-width: 1200px) and (min-width: 767px) {
    top: 8rem;
  }

  @media screen and (max-width: 767px) and (min-width: 320px) {
    top: 10rem;
  }

  .addTo_top {
    display: flex;
    justify-content: center;

    .watch {
      background-color: $white_01;
      padding: 0.48rem 0.7rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      transition: 0.2s;
      cursor: pointer;

      svg {
        fill: $gray_900;
      }

      &:hover {
        background-color: $blue_01;

        svg {
          fill: $white_01;
        }
      }
    }

    .wish {
      background-color: $white_01;
      padding: 0.48rem 0.7rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      transition: 0.2s;
      cursor: pointer;

      svg {
        stroke: $gray_900;
      }

      &:hover {
        background-color: $blue_01;

        svg {
          stroke: $white_01;
        }
      }
    }
  }

  .addTo_bottom {
    margin: 0 auto;
  }
}
