.container {
  max-width: 88.2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 1rem;
  margin-top: 3rem;

  .cartTodays_cart {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;

    @media screen and (max-width: 767px) and (min-width: 320px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 0.1rem;
    }
  }
}
