@use "../../../styles/variables.scss";

.product_cart {
  box-sizing: border-box;
  min-width: 16rem;
  background-color: white;
  border: 1px solid variables.$gray_300;
  border-radius: 1rem;
  height: auto;
  position: relative;

  @media screen and (max-width: 1200px) and (min-width: 767px) {
    min-width: 10rem;
    margin: 0.5rem;
  }

  @media screen and (max-width: 767px) and (min-width: 320px) {
    width: 100%;
    min-width: 82.5vw;
  }

  .addTo {
    display: grid;
    grid-template-rows: 42px 42px;
    row-gap: 1rem;
    padding-top: 2rem;
    position: absolute;
    background-color: variables.$rgba_white;
    width: 100%;
    height: 9.5rem;

    @media screen and (max-width: 1200px) and (min-width: 767px) {
      top: 7rem !important;
    }

    @media screen and (max-width: 767px) and (min-width: 320px) {
      top: 7rem !important;
    }

    .addTo_top {
      display: flex;
      justify-content: center;

      .watch {
        background-color: variables.$white_01;
        padding: 0.48rem 0.7rem;
        display: flex;
        align-items: center;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        transition: 0.2s;

        svg {
          fill: $gray_900;
        }

        &:hover {
          background-color: $blue_01;

          svg {
            fill: variables.$white_01;
          }
        }
      }

      .wish {
        background-color: variables.$white_01;
        padding: 0.48rem 0.7rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        transition: 0.2s;
        cursor: pointer;

        svg {
          stroke: variables.$gray_900;
        }

        &:hover {
          background-color: variables.$blue_01;

          svg {
            stroke: variables.$white_01;
          }
        }
      }
    }

    .addTo_bottom {
      margin: 0 auto;
    }
  }

  .product_cart_picture {
    width: 100%;
    height: 20rem;
    transition: 0.2s;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 1200px) and (min-width: 768px) {
      height: 15rem;
    }

    img {
      width: 80%;
      height: 100%;
      object-fit: contain;

      @media screen and (max-width: 1200px) and (min-width: 767px) {
        width: 80%;
      }
    }
  }

  .product_cart_info {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
    width: 12.7;

    .product_cart_info_text {
      font-size: 0.9rem;
      font-weight: $font-weight_400;
      line-height: 1.5;
    }

    .oneCart_info_raiting {
      display: flex;
      align-items: center;
      margin-top: 0.8rem;

      .review {
        color: $gray_600;
        font-size: 0.8rem;
        margin-left: 0.5rem;
      }
    }

    .oneCart_info_delivery {
      display: flex;
      margin-top: 0.6rem;

      .delivery_info {
        color: $gray_600;
        margin-left: 0.5rem;
        margin-top: 0.1rem;
        font-size: 0.8rem;
      }
    }

    .oneCart_info_price {
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }
  }
}
