@import "../../styles/variables.scss";

.scrollToTopButton {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  z-index: 1;
  border: none;
  @include arrow;
  transition: 0.2s ease-in-out;
  background-color: $blue_01;

  @media screen and (max-width: 1200px) and (min-width: 767px) {
    right: 0.2rem;
  }

  @media screen and (max-width: 767px) and (min-width: 320px) {
    right: 0.2rem;
    bottom: 2rem;
  }

  svg {
    stroke: $white_01;
  }

  &:hover {
    background-color: $gray_200;
  }

  &:hover > svg {
    stroke: $blue_01;
  }
}
